body {
    background: #f4f4f4;
    font-family: Arial;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.form-container {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2d6cdf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#listaServicos {
    max-width: 600px;
    margin: 20px auto;
}

.reserva-card {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.reserva-card button {
    width: auto;
    padding: 8px 12px;
    margin-right: 5px;
    margin-top: 10px;
}

.reserva-card button:first-child {
    background: #f0ad4e; /* Editar */
}

.reserva-card button:last-child {
    background: #d9534f; /* Excluir */
}
